.chat-main
  .chat-main__group-info
    .chat-main__group-info--left-contents
      %p.chat-main__group-info--left-contents--title
        title
      %p.chat-main__group-info--left-contents--message
        message
    .chat-main__group-info--right-content
      = link_to "#" do
        Edit
  .chat-main__message-list
    .chat-main__message-list--box
      .chat-main__message-list--box--top
        %p.chat-main__message-list--box--top--name
          you
        %p.chat-main__message-list--box--top--date
          2020/04/21(tue) 12:42
      %p.chat-main__message-list--box--bottom
        おはようございます！
    .chat-main__message-list--box
      .chat-main__message-list--box--top
        %p.chat-main__message-list--box--top--name
          you
        %p.chat-main__message-list--box--top--date
          2020/04/21(tue) 12:42
      %p.chat-main__message-list--box--bottom
        おはようございます！
  .chat-main__message-form