.message-list__box
  .message-list__box--top
    .message-list__box--top--name
      = message.user.name
    .message-list__box--top--date
      = message.created_at.strftime("%Y/%m/%d (%a) %H:%M:%S")
  .message-list__box--bottom
    .content
      - if message.content.present?
        = message.content
      .image
        - if message.image.present?
          = image_tag message.image.url, class: "lower-message__image"