.message-list__box
  .message-list__box--top
    .message-list__box--top--name
      = message.user.name
    .message-list__box--top--date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message-list__box--bottom
    - if message.content.present?
      = message.content
    = image_tag message.image.url, class: "lower-message__image" if message.image.present?