.side-bar
  .user-name
    .user-name__top-item
      .user-name__top-item--name
        masa
      %ul.user-name__top-item__icons
        %li.user-name__top-item__icons--left-icon
          = link_to "#" do
            = icon('fas','edit')
        %li.user-name__top-item__icons--right-icon
          = link_to "#" do
            = icon('fas', 'cog')
  .group-list
    .group-list__box
      %p.group-list__box--group-name
        techcamp
      %p.group-list__box--message
        まだメッセージはありません
    .group-list__box
      %p.group-list__box--group-name
        techcamp
      %p.group-list__box--message
        まだメッセージはありません